<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karus, the best SOCMINT tool</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='main.js')}}"></script>
</head>
<body>
    <div style="margin: 10px 10px 10px 50px;">
        <h1>Karus</h1>
    </div>
    <a href="lookup/username">Username</a>
    <a href="lookup/fullname">Full Name</a>
    <a href="lookup/discord">Discord</a>
</body>
</html>
