<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karus, the best SOCMINT tool</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='main.js')}}"></script>
</head>
<body>
    <div style="margin: 10px 10px 10px 50px;">
        <h1>Karus</h1>
    </div>
    <div style="margin:0px 0px 25px 0px;">
        <a href="username">Username</a>
        <a href="fullname">Full Name</a>
        <a href="discord">Discord</a>
    </div>
    <div>
        <form name="lookup" action="javascript:getResults()"><br>
            <label for="input"></label>
            <input type="text" id="input" name="input" placeholder="username"><br><br>
            <label class="container">Roblox
                <input type="checkbox" id="roblox" name="roblox">
                <span class="checkmark"></span>
            </label>
            <label class="container">Minecraft
                <input type="checkbox" id="minecraft" name="minecraft">
                <span class="checkmark"></span>
            </label>
            <label class="container">Steam
                <input type="checkbox" id="steam" name="steam">
                <span class="checkmark"></span>
            </label>
            <label class="container">Github
                <input type="checkbox" id="github" name="github">
                <span class="checkmark"></span>
            </label>
            <input type="hidden" id="type" name="type" value="name">
            <input type="submit" value="Lookup">
        </form>
    </div>
    <pre class="display" id="json"></pre>
</body>
</html>
